h1{
    text-align: center;
}
#h{font-family: monospace;
}
body{
    font-family: sans-serif;
}
#div0{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 25%;
}
.r1{
    border-style: solid;
    border-width: 0px;
    box-shadow: 1px 1px 10px black;
    border-radius: 2%;
}
#d1, #d12, #d13, #d14{
    width:20%;
}
h2{
    padding: 1%;
}
.i1{
    max-width:97.7%;
    padding: 1%;
    
}
p{
    padding: 1%;
}
#d15, #d152, #d153, #d154{
    width: 20%;
}
.i2{
    width: 70%;
    padding-left: 15%;
}
@media (max-width:500px){
    h1{
        text-align: left;
    }
    #div0{
        display:flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .r1{
        border-style: solid;
        border-width: 0px;
        box-shadow: 1px 1px 10px black;
        border-radius:6px;
        margin-top: 20px;
        width: 484px;
    }
    h2{
        padding: 5%;
    }

    #d1, #d12, #d13, #d14{
        width:98.8%;
    }
    #d15, #d152, #d153, #d154{
        width: 98.8%;
    }
}
    

