@media(min-width:400px){
    .inicio{
       display: grid;
       grid-template-columns: auto auto  ;
       width: 100%;
       column-gap: 10px;
       row-gap: 10px;
   }
}
@media(min-width:600px){
    .inicio{
        display: grid;
        grid-template-columns: auto ;
        width: 100%;
        column-gap: 10px;
        row-gap: 10px;
    }
}
.cont1{
    background-color: brown;
    border-radius: 2%;
}
body{
    gap: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
}
.imgm{
    width: 616px;
    height: 281px;
}
.bosque{
    width: 616px;
    height: 281px;
}
.objetos{
    width: 616px;
    height: 281px;
}